# Dependencias
node_modules/
**/node_modules/

# Builds y compilados
dist/
build/
**/dist/
**/build/
.angular/

# Electron builder output
release/
dist-electron/
out/

# Variables de entorno y secretos
.env
.env.local
.env.*.local
*.pem
*.key

# Datos de Postgres
pgdata/
**/pgdata/
*.sql
*.dump
*.backup

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Prisma
prisma/dev.db
**/src/generated/prisma/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

#Exámenes
backend/uploads
backend/config

#Electron
electron/resources-backend